dist: trusty

language: python

services:
  - docker

python:
  - "2.7"

env:
  matrix:
    - ONOS_BRANCH: master
      PROFILES: "'all'"
    - ONOS_BRANCH: onos-2.1
      PROFILES: "'fabric fabric-spgw fabric-int fabric-spgw-int'"
    - ONOS_BRANCH: onos-1.15
      PROFILES: "'fabric fabric-spgw fabric-int fabric-spgw-int'"

install:
  - docker pull $DOCKER_REPO
  - docker build --cache-from $DOCKER_REPO -t fp4test .
  - docker tag fp4test $DOCKER_REPO

script:
  - git clone --depth 1 https://github.com/opennetworkinglab/onos /tmp/onos -b $ONOS_BRANCH
  - docker run --privileged --rm -v $PWD:/fp4test -v /tmp/onos:/onos fp4test bash /fp4test/travis/run_test.sh /onos $PROFILES

jobs:
  include:
    - stage: checkstyle
      name: "Checkstyle"
      install: skip
      script:
        - pip install pycodestyle
        - find . -name \*.py -exec pycodestyle --max-line-length=120 --ignore=E126,E127,E722,E502,E131 {} +
    - stage: push
      name: "Docker push"
      script:
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        - docker push $DOCKER_REPO

stages:
  - test
  - checkstyle
  - name: push
    if: type != pull_request AND branch = master
